<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>URL Shortener Microservice</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>
<body>
<div class="wrapper">
    <h1>URL Shortener Microservice</h1>

    <h3>Enter a URL to shorten</h3>

      <div class="col-lg-12">
        <div class="input-group input-group-lg">
          <input id="url-field" type="text" class="form-control" placeholder="Your link here...">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Shorten</button>
            </span>
        </div>
      </div>


  <div class="links-wrapper">
    <h3>Shortened URLS:</h3>
    <ul class="list-group links">
      <% for(var i=0; i<links.length; i++) {%>
        
          <li class="list-group-item link">
            <span>Original: <a href="#"><%= links[i].url %></span></a>
            <br />
            <span>Shortened: <a href="#"><%= links[i].short %></span></a>
          </li>

      <% } %>
    </ul>
  
  </div>




</div>


<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/js/shorten.js"></script>
</body>
</html>