body {
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #00B7FF;
}

.wrapper {
	max-width: 90%;
	margin:0 auto;
}

.links-wrapper {
	max-width: 100%;
	margin:0 auto;
	padding-top: 40px;
}